.card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--border);
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
}

.card-sub {
  font-size: 13px;
  color: var(--text);
}
